.DS_Store
.vscode/
!.vscode/extensions.json
venv/
.venv/
**/venv*/
**/.venv*/
**/__pycache__/
**/site-packages/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage*
node_modules/
dist/
build/
.next/
.turbo/
out/
.env
.env.*
!*.example
**/certificates/
*.pem
*.crt
*.key
logs/
